body {
    margin: 0;
    padding: 0;
    background-color: #101820;
}

header {
    border: 2px solid black;
    height: 4.1rem;
    background-color: burlywood;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    /* width: 100%;  */
    position: relative;
    font-family:"Trirong",serif;
}

.left {
    margin-left: 1%;
    padding: 0;
}

.skill {
    flex: 1; /* Use flex property to make the skill element take up remaining space */
    text-align: center; /* Center the text within the skill element */
}

.right {
    margin-right: 1%;
    padding: 0;
    display: flex;
}
.right i{
    margin: 5px;
}
.container {
    background-color: #101820;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-items: auto;
    align-items: center;
    height: 100vh;
    margin : 2.5%;
}
.limg{
    border: 4px solid white;
    margin-top: 10%;
    border-radius: 10px;
}
.rimg{
    border: 4px solid white;
    margin-top: 10%;
    border-radius: 10px;
}

.ltext{
    
    font-size: 1.7rem;
    padding:2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.rtext{
    
    font-size: 1.7rem;
    padding:2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.heading{
    font-size: 3rem;
    color: burlywood;
}


