body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#101820;
    height: 70px; 
    border : 2px solid white;
    color : white;
}
header p{
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: row;
}
header p a{
    margin-left: 15px;
}

.main-content {
    display: flex;
    height: 100vh;
    background-color: white;
    margin-top: 0px;
    padding: 0px;
}

.left-section {
    width: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color : #101820;
    border : 2px solid white;
}


.dev-img {
    height: 230px;
    margin-top: 13%;
}

.name {
    margin-top: 10px;
    text-align: center;
}

.social-icons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.social-icons a {
    margin-bottom: 10px;
}

.icon1 {
    height: 65px;
    border-radius: 8px;
}
.icon2 {
    height : 45px;
    border-radius: 50px;
}
.icon3{
    height : 40px;
    border-radius: 10px;
}
.right-section {
    flex: 3;
    display: flex;
    flex-direction: column;
    margin-left: 0%; 
    background-color: #FEE715;
    border : 2px solid white;
    justify-content: space-around;
}

.section {
    margin-bottom: 20px; /* Adjust as needed */
}

h2 {
    margin-bottom: 10px;
    font-size: 2rem;  
    text-align: center; 
}
.name{
    color : white;
}
.social-icons{
    color : white;
    display:inline-block;
    margin-top: 350px;
}
.skills{
    border: 2px solid black;
    width : 400px;
    border-radius: 10px;
    margin-left: 15%;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.skills li{
    font-size : 1.35rem;
}
.skills:hover{
    border : 5px solid black;
}
.edu {
    border: 2px solid black;
    width : 400px;
    border-radius: 10px;
    margin-left :15%;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.edu:hover{
    border : 5px solid black;
}

.edu li{
    font-size : 1.35rem;
}
.hobbies{
    border: 2px solid black;
    width : 400px;
    border-radius: 10px;
    margin-left: 15%;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hobbies li{
    font-size : 1.35rem;
}
.hobbies:hover{
    border : 5px solid black;
}
.contact{
    border: 2px solid black;
    width : 400px;
    border-radius: 10px;
    margin-left: 15%;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact li{
    font-size : 1.35rem;
}
.contact:hover{
    border : 5px solid black;
}



