body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 60px; 
    border : 2px solid white;
    color : white;
}

.main-content {
    display: flex;
    height: 100vh;
    background-color: white;
    margin-top: 0px;
    padding: 0px;
}

.left-section {
    width: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color : #101820;
    border : 2px solid white;
}


.dev-img {
    height: 200px;
    margin-top: 10%;
}

.name {
    margin-top: 10px;
    text-align: center;
}

.social-icons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.social-icons a {
    margin-bottom: 10px;
}

.icon1 {
    height: 65px;
    border-radius: 8px;
}
.icon2 {
    height : 45px;
    border-radius: 50px;
}
.icon3{
    height : 40px;
    border-radius: 10px;
}
.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 0%; 
    background-color: #FEE715;
    border : 2px solid white;
    
}

.section {
    margin-bottom: 20px; /* Adjust as needed */
}

h2 {
    margin-bottom: 10px;
}
.name{
    color : white;
}
.social-icons{
    color : white;
    display:inline-block;
    margin-top: 350px;
}
.skills{
    margin-left: 15%;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.edu{
    margin-top: 4%;
    margin-left :15%;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hobbies{
    margin-left: 15%;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact{
    margin-left: 15%;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
