body {
    margin: 0;
    padding: 0;
    
}

header {
    height: 4.1rem;
    background-color: burlywood;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    /* width: 100vh;  */
    position: relative;
    font-family:"Trirong",serif;
}

.left {
    margin-left: 1%;
    padding: 0;
}

.skill {
    flex: 1; /* Use flex property to make the skill element take up remaining space */
    text-align: center; /* Center the text within the skill element */
}

.right {
    margin-right: 1%;
    padding: 0;
    display: flex;
}

.head{
    margin : 0px;
    padding : 0px;
    height : 100px;
    background-color: black;
}
.main-content{
    display : flex;
    height: 100vh;
    background-color: #101820;
    border: 2px solid black;
    flex-direction: column;
    justify-content : space-around;
    align-items: center;
}
.l{
    height : 200px;
    margin-left: 50px;
}
.l{
    border: 2px solid white;
    width : 400px;
    border-radius: 10px;
    font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    color : burlywood  ;
}
li{
    font-size: 1.35rem;
}
h2{
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color : white;
}
a{
    text-decoration: none;
}
.right{
    position: absolute;
    right : 10px;
}
.right a{
    margin-left: 8px;
}
